body{
    text-align: center;
    padding: 0;
    margin: 0;
    background-color:  rgb(6, 6, 50) ;
    font-family: "Shadows Into Light", cursive;
}

#game-intro {
      height: 90vh;
      color: white;
      font-size: xx-large;
}

#game-intro img{
    width: 60%;
    padding: 30px 80px 10px 80px;
}

h1, p {
    margin: 5px;
    padding: 0 0 20px 0;
}

#start-button {
background-color: hsl(332, 52%, 56%);
color:white;
font-size: 25px;
padding: 10px 30px;
margin: 20px 0;
border:1px solid black;
border-radius: 5px;
}

#game-container {
   width: 80vw;
   padding: 35px;
   background-color: rgb(6, 6, 50);
   color: white;
}

#stats p {
    font-size: 28px;
}

#stats {
    display: none;
    padding: 0 15px;
    gap: 40px;
    align-items: center;
    font-size: large;
}

#game-screen {
    display: none;
    background-image: url("Images/wave-background.jpg");
     background-size: cover;
}

#game-end {
    display: none;
    color: white;
    font-size: xx-large;
}

#game-end button {
    font-size: 25px;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: hsl(332, 52%, 56%);
    color: white;
}